*{
    margin: 0;
    padding: 0;
}

.bienvenida{
    background-color: $rojo;
    padding-top: 10%;
    .titulobienvenida{
        font-size: 7rem;
        color: $blanco;
    }
    p {
        color: $blanco;
    }
    .waves-light{
        color: black;
        background-color: white;
    }
}

